@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Dry Mountain Inn Policies</h1>

<hr>

<div class="policy-container">
    <h2 class="text-center">Cancellation Policy</h2>

    <hr>

    <p><strong>Booking Cancellation:</strong></p>
    <ol>
        <li><strong>Free Cancellation Period:</strong> Guests can cancel their reservation for free up to 48 hours before the check-in date.</li>
        <li><strong>Cancellation within 48 hours:</strong> If a guest cancels within 48 hours of the check-in date, they will be charged the cost of the first night.</li>
        <li><strong>No-shows:</strong> In case of a no-show (guest doesn't arrive), the full cost of the reservation will be charged.</li>
    </ol>

    <p><strong>Modification:</strong></p>
    <ol>
        <li><strong>Modification Requests:</strong> Guests can request modifications to their booking, subject to availability and approval.</li>
        <li><strong>Modification Charges:</strong> Modifications made within 48 hours of the check-in date may incur additional charges.</li>
    </ol>

    <hr>
    
    <h2 class="text-center">Terms, Conditions, and Privacy Policy</h2>

    <hr>

    <p><strong>Booking and Stay:</strong></p>
    <ol>
        <li><strong>Booking Confirmation:</strong> A valid credit/debit card is required to secure a reservation. Full payment is due at check-in.</li>
        <li><strong>Check-in/Check-out:</strong> Check-in time is at 3:00 PM, and check-out time is at 11:00 AM. Early check-in and late check-out may be available upon request.</li>
        <li><strong>Guest Responsibility:</strong> Guests are responsible for any damage caused to the hotel property during their stay.</li>
    </ol>

    <p><strong>Privacy Policy:</strong></p>
    <ol>
        <li><strong>Personal Information:</strong> We collect personal information during the booking process for reservation purposes only.</li>
        <li><strong>Data Security:</strong> We take appropriate measures to secure the personal information collected, and it is not shared with third parties without consent.</li>
        <li><strong>Marketing Communications:</strong> Guests may opt-in to receive marketing communications, and they can opt-out at any time.</li>
        <li><strong>Cookies:</strong> Our website uses cookies to enhance the user experience. Users can manage cookie preferences through their browser settings.</li>
    </ol>



    <p><strong>General:</strong></p>
    <ol>
        <li><strong>Force Majeure:</strong> The hotel is not liable for failure to perform its obligations due to unforeseen circumstances beyond its control.</li>
        <li><strong>Right to Refuse Service:</strong> The hotel reserves the right to refuse service to anyone for any reason.</li>
        <li><strong>Policy Changes:</strong> The hotel reserves the right to update these policies at any time. Guests will be notified of significant changes.</li>
    </ol>
</div>