@model HotelReservation.Models.Room

<h2>Create Room</h2>

<form asp-action="Create" class="form-container">
    <div class="form-group">
        <label asp-for="RoomNumber"></label>
        <input asp-for="RoomNumber" class="form-control" />
        <span asp-validation-for="RoomNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type"></label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Capacity"></label>
        <select asp-for="Capacity" class="form-control">
            @for (int i = 1; i <= 12; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PictureUrl1"></label>
        <input asp-for="PictureUrl1" class="form-control" />
        <span asp-validation-for="PictureUrl1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PictureUrl2"></label>
        <input asp-for="PictureUrl2" class="form-control" />
        <span asp-validation-for="PictureUrl2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PictureUrl3"></label>
        <input asp-for="PictureUrl3" class="form-control" />
        <span asp-validation-for="PictureUrl3" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Available">Available:</label>
        <div class="form-check">
            <input asp-for="Available" class="form-check-input" />
            <label class="form-check-label" for="Available">Yes</label>
        </div>
        <span asp-validation-for="Available" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Amenities:</label>
        <div>
            @foreach (var amenity in Enum.GetValues(typeof(HotelReservation.Models.Amenities)))
            {
                <div class="form-check">
                    <input type="checkbox" name="Amenities" value="@amenity" class="form-check-input" />
                    <label class="form-check-label">@amenity</label>
                </div>
            }
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
