@model HotelReservation.Models.ViewModels.UsersViewModel

<h2>Make User</h2>

<h3>Are you sure you want to make this user a regular user?</h3>
<div>
    <h4>User ID: @Model.UserId</h4>
    <h4>Username: @Model.Username</h4>
    <h4>Email: @Model.Email</h4>
</div>

<form asp-controller="Account" asp-action="MakeUser" asp-route-userId="@Model.UserId" method="post">
    <input type="submit" value="Make User" class="btn btn-primary" />
    <a asp-action="ViewUsers">Back to User List</a>
</form>
